<a href="https://colab.research.google.com/github/dinky-coder/codex-test/blob/main/Python_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python data structures
# List  - students= [stu1, stu2, stu3]
#         students_roll_no = [1,2,3]
#         student_address = ["Noida","Delhi","Mumbai"]

In [ ]:
# dictionary - key:value pair
# 1:stu1, 2:stu2

Dictionaries use key-value pairs separated by a colon :. The syntax is {key1: value1, key2: value2, ...}.
my_dictionary = {"name": "Alice", "age": 30}
Sets contain only values (elements), and there are no key-value pairs. The syntax is {element1, element2, element3, ...}.
my_set = {1, 2, 3, 4}

In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
print(type(empty_dict))

<class 'dict'>

In [3]:
student = {"name":"Dhawal","age":24,"grade":"A"}
print(student)

{'name': 'Dhawal', 'age': 24, 'grade': 'A'}

In [14]:
student = dict(name="gfg",age=24,grade="A")
print(student)

{'name': 'gfg', 'age': 24, 'grade': 'A'}

In [15]:
student["name"]

'gfg'

In [12]:
student["age"]

24

In [16]:
# get method
student.get("name")

'gfg'

In [17]:
student.get("grade")

'A'

In [18]:
student.get("lastname")

In [19]:
student.get("lastname","Not Available") # default value

'Not Available'

In [20]:
student

{'name': 'gfg', 'age': 24, 'grade': 'A'}

In [21]:
# alter values
student["name"] = "Dhawal"
student["age"] = 26

In [22]:
student["address"] = "Noida"
student

{'name': 'Dhawal', 'age': 26, 'grade': 'A', 'address': 'Noida'}

In [28]:
del student["grade"]

KeyError: 'grade'

In [24]:
student

{'name': 'Dhawal', 'age': 26, 'address': 'Noida'}

In [30]:
student.values()

dict_values(['Dhawal', 26, 'Noida'])

In [31]:
student.items()

dict_items([('name', 'Dhawal'), ('age', 26), ('address', 'Noida')])

In [32]:
# concept of shallow copy
student_copy = student
student_copy

{'name': 'Dhawal', 'age': 26, 'address': 'Noida'}

In [33]:
student["name"] = "Dhawal2.0"

In [34]:
print(student)
print(student_copy)

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}
{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [35]:
student_copy1 = student.copy()
student_copy1

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [36]:
student["name"] = "Dhawal3.0"

In [37]:
print(student)
print(student_copy1)

{'name': 'Dhawal3.0', 'age': 26, 'address': 'Noida'}
{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [38]:
print(student_copy)

{'name': 'Dhawal3.0', 'age': 26, 'address': 'Noida'}

In [39]:
# iteration
for i in student:
    print(i)

name
age
address

In [40]:
for j in student.values():
    print(j)

Dhawal3.0
26
Noida

In [43]:
for i,j in student.items():
    print(i,j)

name Dhawal3.0
age 26
address Noida

In [45]:
for i,j in student.items():
    print(f"{i}:{j}")

name:Dhawal3.0
age:26
address:Noida

In [47]:
# nested dictionaries
student = {"student1":{"name":"Dhawal","age":24},
           "student2":{"name":"Harsh","age":25}}

In [48]:
print(student["student1"]["name"])

Dhawal

In [49]:
student["student2"]["age"]

25

In [ ]:
# iterate in nested dictionary

In [51]:
for student_id, student_info in student.items():
    print(f"{student_id}:{student_info}")
    for key, value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Dhawal', 'age': 24}
name:Dhawal
age:24
student2:{'name': 'Harsh', 'age': 25}
name:Harsh
age:25

In [52]:
# dictionary comprehension
squares = {x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [53]:
even = {x:x**2 for x in range(10) if x%2==0}
even

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [56]:
# count of elements using a dictionary
numbers = [1,1,1,2,2,2,2,2,2,2,3,3,3,3,4,4,4,4,4,5]
count={}

for i in numbers:
    if i in count:
        count[i] = count[i] + 1
    else:
        count[i] = 1

print(count)

{1: 3, 2: 7, 3: 4, 4: 5, 5: 1}

In [ ]:
# Question: You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up
# multiple times by mistake. Your task is to:
# Remove duplicates to get the unique IDs of students who signed up. Identify students who have both signed up and attended the event (IDs)
# are given in a separate list of attendees). Classify each student as: "Attended" if they signed up and attended. "No-show" if they signed up but
# did not attend. Finally, print a summary showing the count of "Attended" and "No-Show" students. Input:
# A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.) A list of
# integers attendees, where each element represents a student ID who attended the event. Output: Print each unique student ID along with its
# status ("Attended" or "No-show") and a summary like the example below.

signups = [101, 102, 103, 101, 104, 105, 102]
attendees = [102, 103, 104]

101 : Attended
102 : Attended
103 : No-show
104 : Attended
105 : No-show

# Task
Analyze the provided `signups` and `attendees` lists to determine which students attended and which were no-shows. The output should list each unique student ID from the signups and their status ("Attended" or "No-show"), followed by the total counts of attended and no-show students.

## Remove duplicates from signups

### Subtask:
Use a set to get the unique student IDs from the `signups` list.

**Reasoning**:
Convert the signups list to a set to get unique student IDs.

In [57]:
unique_signups = set(signups)
print(unique_signups)

NameError: name 'signups' is not defined

**Reasoning**:
The variable `signups` was not defined in the previous code block. Define the `signups` and `attendees` lists as provided in the problem description and then convert the `signups` list to a set.

In [58]:
signups = [101, 102, 103, 101, 104, 105, 102]
attendees = [102, 103, 104]
unique_signups = set(signups)
print(unique_signups)

{101, 102, 103, 104, 105}

## Create a set of attendees

### Subtask:
Convert the `attendees` list into a set for efficient checking of attendance.

**Reasoning**:
Convert the attendees list to a set for efficient lookups and print it to verify the conversion.

In [59]:
attended_set = set(attendees)
print(attended_set)

{104, 102, 103}

## Classify students and count

### Subtask:
Iterate through the unique sign-ups. For each student ID, check if it's in the attendees set. Based on this check, classify the student as "Attended" or "No-show" and store the results, possibly in a dictionary. Also, maintain counts of "Attended" and "No-show" students.

**Reasoning**:
Initialize the dictionary and counters, then iterate through the unique signups to classify students and update the counts.

In [60]:
student_status = {}
attended_count = 0
no_show_count = 0

for student_id in unique_signups:
    if student_id in attended_set:
        student_status[student_id] = "Attended"
        attended_count += 1
    else:
        student_status[student_id] = "No-show"
        no_show_count += 1

print(student_status)
print(f"Attended Count: {attended_count}")
print(f"No-show Count: {no_show_count}")

{101: 'No-show', 102: 'Attended', 103: 'Attended', 104: 'Attended', 105: 'No-show'}
Attended Count: 3
No-show Count: 2

## Print results

### Subtask:
Print each unique student ID and their status, followed by the total counts of "Attended" and "No-show" students in the specified format.

**Reasoning**:
Iterate through the student_status dictionary and print the student ID and status, then print the total counts of attended and no-show students.

In [61]:
for student_id, status in student_status.items():
    print(f"{student_id} : {status}")

print(f"Attended Count: {attended_count}")
print(f"No-show Count: {no_show_count}")

101 : No-show
102 : Attended
103 : Attended
104 : Attended
105 : No-show
Attended Count: 3
No-show Count: 2

## Summary:

### Data Analysis Key Findings

*   The unique student IDs who signed up were identified as {101, 102, 103, 104, 105}.
*   The student IDs who attended were {102, 103, 104}.
*   Based on the analysis, the status of each unique student is:
    *   101: No-show
    *   102: Attended
    *   103: Attended
    *   104: Attended
    *   105: No-show
*   The total count of attended students is 3.
*   The total count of no-show students is 2.

### Insights or Next Steps

*   The analysis successfully classified each unique signup as either attended or a no-show.
*   This information could be used to follow up with no-show students or analyze attendance patterns for future events.

In [63]:
signups = [101, 102, 103, 104, 102, 105, 103, 106, 107]
attendees = [101, 102, 103, 103, 105, 106]

unique_signups = set(signups)
unique_attendees = set(attendees)

attendees_count = 0
no_show_count = 0

for i in unique_signups:
    if i in unique_attendees:
        print(f"{i} : Attended")
        attendees_count += 1
    else:
        print(f"{i} : No-show")
        no_show_count += 1

print("summary")
print(f"attended: {attendees_count}")
print(f"no show: {no_show_count}")

101 : Attended
102 : Attended
103 : Attended
104 : No-show
105 : Attended
106 : Attended
107 : No-show
summary
attended: 5
no show: 2

Unique Common Elements Problem: You are given two lists of integers. Write a program to:
Find the unique common elements between the two lists. Print these common elements in sorted order. If there are no common elements, print "No common elements."

In [ ]:
list1 = [1,2,3,4,5,6,7,8]
list2 = [3,5,1,7,8,10,12]

# Task
Code the Unique Common Elements Problem: You are given two lists of integers. Write a program to: Find the unique common elements between the two lists. Print these common elements in sorted order. If there are no common elements, print "No common elements."

## Convert lists to sets

### Subtask:
Convert `list1` and `list2` into sets to easily find the common elements.

**Reasoning**:
Convert the two lists into sets to prepare for finding common elements.

In [64]:
set1 = set(list1)
set2 = set(list2)
print(set1)
print(set2)

NameError: name 'list1' is not defined

**Reasoning**:
The lists were not defined in the current session. Define the lists and then convert them to sets.

In [65]:
list1 = [1,2,3,4,5,6,7,8]
list2 = [3,5,1,7,8,10,12]
set1 = set(list1)
set2 = set(list2)
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 3, 5, 7, 8, 10, 12}

## Find common elements

### Subtask:
Use set intersection to find the elements that are present in both sets.

**Reasoning**:
Find the intersection of `set1` and `set2` using the `&` operator and store the result in `common_elements`, then print the result.

In [66]:
common_elements = set1 & set2
print(common_elements)

{1, 3, 5, 7, 8}

## Sort common elements

### Subtask:
Convert the set of common elements back into a list and sort it in ascending order.

**Reasoning**:
Convert the set of common elements to a list, sort it, and print the sorted list.

In [67]:
sorted_common_elements = sorted(list(common_elements))
print(sorted_common_elements)

[1, 3, 5, 7, 8]

## Print results

### Subtask:
Check if there are any common elements. If there are, print them in sorted order. If there are no common elements, print "No common elements."

**Reasoning**:
Check if the sorted_common_elements list is empty and print the appropriate output based on the result.

In [68]:
if sorted_common_elements:
    for element in sorted_common_elements:
        print(element)
else:
    print("No common elements.")

1
3
5
7
8

## Summary:

### Data Analysis Key Findings
* The unique common elements between `list1` and `list2` are {1, 3, 5, 7, 8}.
* When sorted in ascending order, the common elements are [1, 3, 5, 7, 8].

### Insights or Next Steps
* The use of sets provides an efficient way to find unique common elements through intersection.
* The sorted list of common elements can be used for further analysis or display as required by the specific problem context.

In [73]:
list1 = [1,2,3,4,5,6,7,8]
list2 = [3,5,1,7,8,10,12]

un_list1 = set(list1)
un_list2 = set(list2)

common_elements = un_list1.intersection(un_list2)

if common_elements:
  print(sorted(list(common_elements)))
else:
  print("No common elements")

[1, 3, 5, 7, 8]

text = "hello world"
Find character count and return a dictionary

In [77]:
text = "hello world"

char_count = {}
for i in text:
  if i in char_count:
    char_count[i] += 1
  else:
    char_count[i] = 1

print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

## Initialize an empty dictionary

### Subtask:
Create an empty dictionary called `char_count` to store the counts of each character in the string.

**Reasoning**:
Initialize an empty dictionary to store the character counts. This dictionary will be updated as we iterate through the string.

In [69]:
char_count = {}
print(char_count)

{}

## Iterate through the string

### Subtask:
Loop through each character in the `text` string.

**Reasoning**:
Iterate through each character in the input string to process it for counting.

In [70]:
for char in text:
    # We will add the counting logic in the next step
    pass

NameError: name 'text' is not defined

**Reasoning**:
The `NameError` occurred because `text` was not defined in the current execution environment. Define the `text` variable before attempting to iterate through it.

In [71]:
text = "hello world"
for char in text:
    # We will add the counting logic in the next step
    pass

## Count characters

### Subtask:
For each character, check if it's already in the dictionary. If it is, increment its count. If not, add it to the dictionary with a count of 1.

**Reasoning**:
Implement the counting logic within the loop to populate the `char_count` dictionary.

In [72]:
char_count = {}
text = "hello world" # Redefine text to ensure it's available

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}